{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FitFuel</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chatbot-style.css' %}" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">




        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon">
                    <img class="" src="{% static 'FF Green Black.png' %}" alt="" style="width: 50%;">

                </div>
                <div class="sidebar-brand-text mx-3">FitFuel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="cursor: pointer;">
                <a class="nav-link collapsed" href="/scan">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>FoodLens.Ai</span>
                </a>
                
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item active" style="cursor: pointer;">
                <a class="nav-link collapsed" href="/intellirec">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>IntelliRec</span>
                </a>
                
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="cursor: pointer;">
                <a class="nav-link" href="/health">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Health Analysis</span>
                </a>
                
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/chart">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/intake">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Intake</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">                       

                       

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                                {% if user.userprofile.profile_picture %}
                                <img class="img-profile rounded-circle"
                                src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
                            {% else %}
                                <!-- Default profile picture or placeholder image -->
                                <img src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture">
                            {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login/" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Diets</h1>
               
                    </div>

                    <section style="background-color: #eee;">
                        <div class="container py-5">
                            <div class="row justify-content-center mb-3">
                                <div class="col-md-12 col-xl-10">
                                  <div class="card shadow-0 border rounded-3">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                          <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                            <img src="https://www.healthifyme.com/blog/wp-content/uploads/2018/07/balanced-diet-feature-1024x548.jpeg"
                                              class="w-100" />
                                            <a href="#!">
                                              <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                              </div>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                          <h5>Balanced Diet</h5>
                                          <div class="mt-1 mb-0 text-muted small">
                                            <span class="text-primary"> • </span>
                                            <span>Overall Health</span> <br>
                                            <span class="text-primary"> • </span>
                                            <span>Nutrient Balance</span>
                                            
                                          </div>
                                          
                                        
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                         
                                          <div class="d-flex flex-column mt-4">
                                            <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/bal">Read More</a>
                                            <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=balanced+diet' type="button" target='_blank'>
                                              Search
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://images.everydayhealth.com/images/diet-nutrition/mediterranean-diet/mediterranean-diet-food-list-meal-plan-722x406.jpg?sfvrsn=da69b6eb_1"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>Mediterranean Diet</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Heart Health</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Balanced Nutrition</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/med">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=mediterranean+diet' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://hips.hearstapps.com/hmg-prod/images/keto-diet-foods-1607725237.jpg?crop=1xw:0.8423586572438162xh;center,top&resize=1200:*"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>Keto Diet</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Weight Loss</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Diabetes Control</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/keto">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=keto+diet' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://cdn.mos.cms.futurecdn.net/TSfMyAFK2KAJza7ASzggm6-970-80.jpg.webp"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>Paleo Diet</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Improving Energy Levels</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Anti Inflammatory</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/paleo">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=paleo+diet' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://www.clevelandheartlab.com/wp-content/uploads/2021/07/b-7.21.21-full.jpg"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>Intermittent Fasting</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Metabolic Health</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Cellular Repair</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Hormone Regulation</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/inter">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=intermittent+fasting' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://images.everydayhealth.com/images/diet-nutrition/weight/what-is-the-dash-diet-1440x810.jpg?sfvrsn=f0521346_5"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>DASH Diet</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Cholesterol Control</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Sodium Maintenance</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/dash">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=dash+diet' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                              <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://www.dmoose.com/cdn/shop/articles/The_Zone_Diet_Plan_Guide_Complete_Overview.jpg?v=1643119600"
                                          class="w-100" />
                                        <a href="#!">
                                          <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                      <h5>Zone Diet</h5>
                                      <div class="mt-1 mb-0 text-muted small">
                                        <span class="text-primary"> • </span>
                                        <span>Stable Insulin Levels</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Inflammation Control</span> <br>
                                        <span class="text-primary"> • </span>
                                        <span>Blood Sugar Regulation</span>
                                        
                                      </div>
                                      
                                    
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                     
                                      <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" type="button" href="/dietdetails/zone">Read More</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2" href='https://www.google.com/search?q=zone+diet' type="button" target='_blank'>
                                          Search
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          
                          
                        </div>
                      </section>

                </div>
            

            </div>
            <!-- End of Main Content -->

            <!-- Chatbot layout -->
            <div class="chat-box">
                <div class="chat-box-header">
                    <span class="retep">Retep</span>
                    <p><i class="fa fa-times"></i></p>
                </div>
                <div class="chat-box-body">
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    <div class="chat-box-body-receive">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    
                    <div class="chat-box-body-receive">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
        
                    <div class="chat-box-body-receive">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
        
                    <div class="chat-box-body-receive">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
        
                    <div class="chat-box-body-receive">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
                    <div class="chat-box-body-send">
                        <p>This is my message.</p>
                        <span>12:00</span>
                    </div>
        
                    <div class="chat-box-body-receive">
                        <p>This is my message. This is my another message and this is my third message.</p>
                        <span>12:00</span>
                    </div>
                </div>
                <div class="chat-box-footer">
                    
                    <input placeholder="Ask" type="text" />
                    <i class="send far fa-paper-plane"></i>
        
                </div>
            </div>
            <div class="chat-button"><span></span></div>
            <!-- End of Chatbot layout -->





            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; FitFuel 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages -->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'js/chatbot-script.js' %}"></script>


</body>

</html>